<div class="panel panel-primary" ng-hide="panelVentas">
    <div class="panel-heading">Ventas</div>
    <div class="panel-body">
        <table class="resultados table table-striped">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Valor Unitario
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Valor Total
                </th>
            </tr>
            <tr ng-repeat="row in listaDetallesF">
                <td>{{row.idProducto.nombre}}</td>
                <td>{{row.idProducto.valor}}</td>
                <td>{{row.cantidadDetalle}}</td>
                <td>{{row.valorTotal}}</td>
            </tr>
        </table>
        <br/>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-click="validarCliente()">Realizar Compra</button>
    </div>
</div>
<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Productos</div>
    <div class="panel-body">
        <table class="resultados table table-striped">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Valor
                </th>
                <th>
                    Unidades Disponibles
                </th>
                <th>

                </th>
            </tr>
            <tr ng-repeat="row in lista">
                <td>{{row.nombre}}</td>
                <td>{{row.valor}}</td>
                <td>{{row.cantidad}}</td>
                <!--<td><input id="cantidad" class="form-control>" type="number" placeholder="Cantidad" value="1"/></td>-->

                <td class="row">
                    <button type="button" class="btn btn-info" ng-click="agregarCarrito(row)">
                        <span class="glyphicon glyphicon-shopping-cart"></span>Agregar al carrito
                    </button>
                </td>
            </tr>
        </table>
        <br/>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalCantidad" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <label >Cantidad:</label>
                <input id="cantidadDetalle" class="form-control>" 
                       ng-model="datosDetalles.cantidadDetalle" 
                       type="number" 
                       placeholder="Cantidad" 
                       value="1"/>
                <label>Valor Total: </label>
                <label id="valorTotal"
                       class="form-control"
                       ng-model="datosDetalles.valorTotal" 
                       type="number"
                       >{{datosDetalles.cantidadDetalle*datosDetalles.valor}}"</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="guardarCantidad()">Agregar Cantidad</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Registrar Cliente -->
<div class="modal fade" id="modalRegistrarCliente" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <label>Cedula del Cliente:</label>
                <select id="nombreCliente" class="form-control" ng-model="datosCliente.cedula">
                    <option ng-repeat="row in listaClientes">{{row.cedula}}</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="finalizarCompra()">Seleccionar Cliente</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
