<div class="panel panel-primary" ng-hide="panelVentas">
    <div class="panel-heading">Ventas</div>
    <div class="panel-body">
        <table class="resultados table table-striped">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Valor Unitario
                </th>
                <th>
                    Cantidad
                </th>
            </tr>
            <tr ng-repeat="row in listaDetallesF">
                <td>{{row.idProducto.nombre}}</td>
                <td>{{row.idProducto.valor}}</td>
                <td>{{row.cantidadDetalle}}</td>
            </tr>
        </table>
        <br/>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-click="validarCliente()">Realizar Compra</button>
    </div>
</div>
<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Productos</div>
    <div class="panel-body">
        <table class="resultados table table-striped">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Valor
                </th>
                <th>
                    Unidades Disponibles
                </th>
                <th>

                </th>
            </tr>
            <tr ng-repeat="row in lista">
                <td>{{row.nombre}}</td>
                <td>{{row.valor}}</td>
                <td>{{row.cantidad}}</td>
                <!--<td><input id="cantidad" class="form-control>" type="number" placeholder="Cantidad" value="1"/></td>-->

                <td class="row">
                    <button type="button" class="btn btn-info" ng-click="agregarCarrito(row)">
                        <span class="glyphicon glyphicon-shopping-cart"></span>Agregar al carrito
                    </button>
                </td>
            </tr>
        </table>
        <br/>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalCantidad" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <label >Cantidad:</label>
                <input id="cantidadDetalle" class="form-control>" 
                       ng-model="datosProducto.cantidadDetalle" 
                       type="number" 
                       placeholder="Cantidad" 
                       value="1"/>
                <label>Valor Total: </label>
                <div class="row" ng-model="datosProducto.idProducto">Id: {{datosDetalles.idProducto}}</div>
                <div class="row" ng-model="datosProducto.nombre">Producto: {{datosDetalles.nombre}}</div>
                <div ng-model="datosProducto.valor">Valor: {{datosDetalles.valor}}</div>
                <div ng-model="datosProducto.cantidadDetalle">Cantidad: {{datosDetalles.cantidadDetalle}}</div>
                <!--<div ng-model="datosProducto.valorTotal" >Total: {{datosDetalles.cantidadDetalle * datosDetalles.valor}}</div>-->
                <div>Total: {{datosDetalles.cantidadDetalle * datosDetalles.valor}}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="guardarCantidad()">Agregar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Registrar Cliente -->
<div class="modal fade" id="modalRegistrarCliente" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <label>Cedula del Cliente:</label>
                <select id="cedula" class="form-control" ng-model="datosCliente.cedula">
                    <option ng-repeat="row in listaClientes">{{row.cedula}}</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="finalizarCompra()">Seleccionar Cliente</button>
                <button type="button" class="btn btn-default" ng-click="mostrarCrearCliente()">Crear Cliente Nuevo</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Crear Cliente-->
<div class="modal fade" id="modalCrearCliente" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <label>Nombre del Cliente:</label>
                <input id="nombre" class="form-control>" 
                       ng-model="datosCliente.nombre" 
                       type="text" 
                       placeholder="Nombre"/><br/>
                <label>Cedula del Cliente:</label>
                <input id="cedula" class="form-control>" 
                       ng-model="datosCliente.cedula" 
                       type="number" 
                       placeholder="Cedula"/>
<!--                <select id="nombreCliente" class="form-control" ng-model="datosCliente.cedula">
                    <option ng-repeat="row in listaClientes">{{row.cedula}}</option>
                </select>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="crearCliente()">Crear Cliente</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>